@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
}

html {
  width: 100%;
  scrollbar-color: #674b22 #b49160;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', Helvetica, sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  @apply text-tva-orange;
}

@font-face {
  font-family: 'Perfect Dos Vga';
  src: url('../../public/fonts/Perfect\ DOS\ VGA\ 437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 16px;
}
.text-body {
  /* font-size: 1.75rem;
  line-height: 2.25rem; */
  @apply text-2xl;
}
@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }
  .text-body {
    /* font-size: 2rem; */
    /* line-height: 2.285rem; */
  }
}

@media (max-width: 640px) {
  .scrollbar-thin-mobile {
    scrollbar-width: thin;
  }
}

.inverted {
  font-family: 'Perfect Dos Vga', Helvetica, sans-serif;
  @apply p-[0.1em] pl-[0.75rem] pr-[0.25em] text-background inline-block;
  position: relative;
  text-shadow: -0.15px -0.15px 0 #0a0a0a, 0.15px -0.15px 0 #0a0a0a, -0.15px 0.15px 0 #0a0a0a,
    0.15px 0.15px 0 #0a0a0a;

  max-width: fit-content;

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    @apply bg-tva-orange;
  }
}

.bordered {
  @apply px-[0.6em] py-[0.15em] inline-block;
  position: relative;

  max-width: fit-content;

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    @apply border-tva-orange border-[2px];
  }
}

.pixelated-mask {
  mask-image: radial-gradient(#000 0.9px, rgba(255, 255, 255, 0.4) 0.9px);
  mask-size: 2.8px 2.8px;
  mask-repeat: repeat;
}

.no-mask {
  mask-image: none;
}

.drop-shadow {
  filter: drop-shadow(0 0 5px rgba(138, 82, 18, 0.78));
}
